.creditcard {
  width: 75vw;
  height: 20vh;
  background-color: lightseagreen;
  margin: 0 auto;
  border-radius: 10px;
}

.cc-logo {
  margin: 15px 0 15px 15px;
}

.inner-creditcard {
  margin: 5px 15px;
}

.bottom-creditcard {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

.wallet {
  margin: 25px;
}
