.newCard-form {
  padding: 0 var(--main-padding);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10rem;
}

.form-box {
  width: 70%;
  margin: 0 auto;
}

label {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.newCard-form input {
  height: 4rem;
  padding: 10px;
  border-radius: 10px;
  margin: 1rem 0 3rem 0;
}

.newCardInput {
  height: 4.8rem;
  width: 60vw;
  border-radius: 25px;
  border: none;
  background-color: var(--background-lightgrey);
  padding: 1rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.createCard-btn {
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.selectCard-design {
  overflow-x: scroll;
  display: flex;
  gap: 2rem;
}

.selectCard-design > div {
  display: flex;
  gap: 1rem;
  height: 20rem;
  flex-direction: column;
  align-items: center;
}

.selectDesign-btn {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--text-color-yellow);
}

.new-ellipse1 {
  position: absolute;
  width: 100%;
}

.new-ellipse2 {
  position: absolute;
  width: 100%;
}

.firstDesign {
  background-color: lightseagreen;
  width: 25rem;
  height: 15rem;
  border-radius: 10px;
  position: relative;
  z-index: -10;
}

.secondDesign {
  background-color: lightblue;
  width: 25rem;
  height: 15rem;
  border-radius: 10px;
  position: relative;
  z-index: -10;
}

.thirdDesign {
  background-color: lightgray;
  width: 25rem;
  height: 15rem;
  border-radius: 10px;
  position: relative;
  z-index: -10;
}

.selectedDesign-effect {
  border: 7px solid var(--text-color-yellow);
  border-radius: 20px;
}
