.setNewPassword-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setNewPassword-form section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;
  position: relative;
}
.setNewPassword-form section input {
  width: 60vw;
}

.setPassword-error {
  color: red;
  font-size: 1.6rem;
  position: absolute;
  bottom: -30%;
}
.blueBtn-setNewPassword {
  width: 100%;
  margin: auto;
  background: linear-gradient(0deg, #1e78fe, #44bbfe);
  border: none;
  border-radius: 20rem;
  padding: 2rem 4rem;
  color: var(--text-color-white);
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
