.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .nav-link {
    text-decoration: none;
    color: #333; /* Textfarbe anpassen */
    display: flex;
    flex-direction: column;
    align-items: center;
  }