.single-transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.symbol-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.transactionCategoryName{
  font-weight: 600;
}

.oneTransDateDiv{
  display: flex;
  gap: .5rem;
}

.transactionDate{
  font-size: 1.2rem;
}

.amount {
  font-size: 1.6rem;
  font-weight: 600;
}

.date-time {
  display: flex;
  gap: 1rem;
}
